{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content_header %}
<h1>{% trans 'Accounts' %}
  {% if object %}
  <small>{% blocktrans with object_name=object.name %}Update {{ object_name }}{% endblocktrans %}</small>
  {% else %}
  <small>{% trans 'Create new account' %}</small>
  {% endif %}
</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li><a href="#">{% trans 'Accounts' %}</a></li>
  {% if object %}
  <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
  <li class="active">{% trans 'Update' %}</li>
  {% else %}
  <li class="active">{% trans 'New' %}</li>
  {% endif %}
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">{% trans 'Account Details' %}</h3>
  </div>
  <form method="post" class="form-horizontal">
    <div class="box-body">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {% if field|widget_type != "checkboxinput" %}
        <label class="control-label col-sm-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-sm-8">
          {% render_field field placeholder=field.label class="form-control" %}
        </div>
        {% else %}
        <div class="col-sm-offset-2 col-sm-8 ">
          <div class="checkbox">
            <label>
              {{ field }}
              {{ field.label }}
            </label>
          </div>
        </div>
        {% endif %}
        {% for error in  field.errors %}
        <span class="help-block">{{ errror }}</span>
            {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="box-footer">
      <div class="col-sm-offset-2 col-sm-8">
        {% if object %}
        <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
        <a href="{{ account.get_absolute_url }}" class="btn btn-default">{% trans 'Cancel' %}</a>
        <a href="{% url 'account_delete' account.pk %}" class="btn btn-danger pull-right">{% trans 'Delete' %}</a>
        {% else %}
        <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
        {% endif %}
      </div>
    </div>
  </form>

</div>
{% endblock %}
