{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content_header %}
<h1>{{ account.name }}
  <small>{{ month|date:'F Y'}}</small>
</h1>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'accounts' %}">Accounts</a></li>
  <li class="active">{{ account }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-body">
    <div class="text-center">
      <a href="{% url 'account_detail' account.pk previous_month|date:'Ym' %}" class="btn btn-xs btn-default">Previous</a>
      <span>{{ month|date:'F Y'}}</span>
      <a href="{% url 'account_detail' account.pk next_month|date:'Ym' %}" class="btn btn-xs btn-default">Next</a>
    </div>
  </div>
</div>
{% if dataset %}
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Overview for {{ month|date:'F' }}</h3>
      </div>
      <div class="box-content">
        <table class="table">
          <tr>
          <th>Current Balance</th><td class="text-{% if balance < 0 %}red{% else %}green{% endif %}">{{ balance }}</td>
        </tr>
        <tr>
          <th>In</th><td>{{ in }}</td>
        </tr>
        <tr>
          <th>Out</th><td class="text-red">{{ out }}</td>
        </tr>
        <tr>
          <th>Difference</th><td{% if difference < 0 %} class="text-red"{% endif %}>{{ difference }}</td>
        </tr>
        </table>
      </div>
      <div class="box-footer">
          <a href="{% url 'account_update' account.pk %}" class="btn btn-warning">Edit</a>
  <a href="{% url 'account_delete' account.pk %}" class="btn btn-danger">Delete</a>
  {% if account.is_personal %}
  <a href="{% url 'account_reconcile' account.pk %}" class="btn btn-default">Reconcile</a>
  {% endif %}
      </div>
    </div>
  </div>
<div class="col-md-8 col-md-pull-4">
<div class="box">
  <div class="box-body">
  <canvas id="myChart" width="400" height="200"></canvas>
</div>
</div>
</div>
</div>
{% endif %}
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">{% trans 'Transaction list' %}</h3>
  <div class="pull-right">
  <a href="{% url 'transactions' %}?account={{ account.pk }}" class="btn btn-xs btn-default">Show all</a>
  </div>
</div>
<div class="box-body">
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Amount</th>
    <th class="hidden-xs">Account</th>
    <th class="hidden-xs">Category</th>
  </tr>
{% for transaction in transactions %}
<tr>
  <td><a href="{% url 'transaction_detail' transaction.transaction.pk %}">{{ transaction.transaction.title }}</a></td>
  <td>{{ transaction.transaction.date }}</td>
  <td{% if transaction.amount < 0 %} class="text-red"{% endif %}>{{ transaction.amount }}</td>
  <td class="hidden-xs">{% if transaction.is_system %}Reconcilation{% else %}<a href="{{ transaction.opposing_account.get_absolute_url }}">{{ transaction.opposing_account }}</a>{% endif %}</td>
  <td class="hidden-xs">
    {% if transaction.category %}
    <a href="{{ transaction.category.get_absolute_url }}">{{ transaction.category }}
    {% endif %}
  </td>
  </tr>
{% endfor %}
</table>
</div>
<div class="box-footer text-center">
{% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
<li><a href="{{ request.path }}?page={{ page_obj.previous_page_number}}"><i class="force-parent-lh fa fa-chevron-left" aria-hidden="true"></i>
</a>
{% endif %}
</li>
<li>
  <select class="form-control">
            {% for _ in ''|center:page_obj.paginator.num_pages %}
            {% if forloop.counter == page_obj.number %}
            <option selected="">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </option>
            {% else %}
            <option>
            {{ forloop.counter }}
            </option>
            {% endif %}
            {% endfor %}
        </select>
</li>
{% if page_obj.has_next %}
<li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="force-parent-lh fa fa-chevron-right" aria-hidden="true"></i>
</a></li>
{% endif %}
</ul>

{% endif %}
</div>
</div>
{% endblock %}

{% block scripts %}
{% if dataset %}
<script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
<script type="text/javascript">
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    options: {
        legend: {
          position: 'none',
        }
    },
    data: {
        labels: [
  {% for label, value in dataset %}
  "{{ label|date }}",
  {% endfor %}
  ],
        datasets: [{
            label: 'Balance',
            fill: false,
            pointRadius: 2,
            borderColor: '#357ca5',
            backgroundColor: '#357ca5',
            data: [
      {% for label, value in dataset %}
      {{ value }},
      {% endfor %}
    ],
        }]
    }
});



  {% endif %}
</script>
{% endblock %}
