{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/css/daterangepicker.css' %}">
{% endblock %}

{% block content_header %}
    <h1>{{ account.name }}
        <small>{{ month|date:'F Y' }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'accounts' %}">{% trans 'Accounts' %}</a></li>
        <li class="active">{{ account }}</li>
    </ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-body">
    <div class="text-center">
      {% if dstart and dend %}
      {% blocktrans %}Showing Data from <b>{{ dstart }}</b> to <b>{{ dend }}</b>{% endblocktrans %}
      {% else %}
      <b>{% trans 'No data to show!' %}</b>
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">{% trans 'Overview' %}</h3>
      </div>
      <div class="box-content">
        <table class="table">
          <tr>
          <th>{% trans 'Current Balance' %}</th><td class="text-{% if balance < 0 %}red{% else %}green{% endif %}">{{ balance }}</td>
        </tr>
        <tr>
          <th>{% trans 'In' %}</th><td>{{ in }}</td>
        </tr>
        <tr>
          <th>{% trans 'Out' %}</th><td class="text-red">{{ out }}</td>
        </tr>
        <tr>
          <th>{% trans 'Difference' %}</th><td{% if difference < 0 %} class="text-red"{% endif %}>{{ difference }}</td>
        </tr>
        </table>
      </div>
      <div class="box-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-default" id="daterange-btn"></button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'account_detail_all' account.pk %}">{% trans 'Show all' %}</a></li>
          </ul>
        </div>
        <a href="{% url 'account_update' account.pk %}" class="btn btn-warning">{% trans 'Edit' %}</a>
        {% if account.is_personal %}
        <a href="{% url 'account_reconcile' account.pk %}" class="btn btn-danger">{% trans 'Reconcile' %}</a>
        {% endif %}
      </div>

    </div>
  </div>
<div class="col-md-8 col-md-pull-4">
<div class="box" style="height: calc(100% - 20px);">
  <div class="box-body" id="balance-chart">
    <canvas id="myChart" width="400" height="200"></canvas>
  </div>
</div>
</div>
</div>
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">{% trans 'Transaction list' %}</h3>
</div>
<div class="box-body">
<table class="table table-striped">
  <tr>
    <th>{% trans 'Title' %}</th>
    <th>{% trans 'Date' %}</th>
    <th class="hidden-xs">{% trans 'Booking date' %}</th>
    <th>{% trans 'Amount' %}</th>
    <th class="hidden-xs">{% trans 'Account' %}</th>
    <th class="hidden-xs">{% trans 'Category' %}</th>
  </tr>
{% for transaction in transactions %}
<tr>
  <td><a href="{% url 'transaction_detail' transaction.transaction.pk %}">{{ transaction.transaction.title }}</a></td>
  <td>{{ transaction.transaction.date }}</td>
  <td class="hidden-xs">{{ transaction.date }}</td>
  <td{% if transaction.amount < 0 %} class="text-red"{% elif transaction.is_deposit %} class="text-green"{% endif %}>{{ transaction.amount }}</td>
  <td class="hidden-xs">{% if transaction.is_system %}{% trans 'Reconcilation' %}{% else %}<a href="{{ transaction.opposing_account.get_absolute_url }}">{{ transaction.opposing_account }}</a>{% endif %}</td>
  <td class="hidden-xs">
    {% if transaction.category %}
        <a href="{{ transaction.category.get_absolute_url }}">{{ transaction.category }}</a>
    {% endif %}
  </td>
  </tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}

{% block scripts %}
{% if dstart and dend %}
<script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'vendor/js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'vendor/js/daterangepicker.min.js' %}"></script>
<script type="text/javascript">
{% get_current_language as LANGUAGE_CODE %}
moment.locale('{{ LANGUAGE_CODE }}')
update_daterangepicker(moment(new Date("{{ dstart|date:'Y-m-d' }}")), moment(new Date("{{ dend|date:'Y-m-d' }}")));

// Select Ranges to use
var range_dates = {};
range_dates["{% trans 'Last 30 days' %}"] = [moment().subtract(30, 'day'), moment()];
range_dates[moment().format('MMM YYYY')] = [moment().startOf('month'), moment()];
range_dates[moment().subtract(1, 'month').format('MMM YYYY')] = [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')];
range_dates[moment().subtract(2, 'month').format('MMM YYYY')] = [moment().subtract(2, 'month').startOf('month'), moment().subtract(2, 'month').endOf('month')];
range_dates["{% trans 'Last 6 months' %}"] = [moment().subtract(6, 'month'), moment()];
range_dates["{% trans 'Last year' %}"] = [moment().subtract(1, 'year'), moment()];

// Date range as a button
$('#daterange-btn').daterangepicker(
  {
    'ranges': range_dates,
    'opens': 'left',
    'locale': {
      'applyLabel': "{% trans 'Apply' %}",
      'cancelLabel': "{% trans 'Cancel' %}",
      'customRangeLabel': "{% trans 'Custom Range' %}",
    },
    'startDate': moment(new Date("{{ dstart|date:'Y-m-d' }}")),
    'endDate'  : moment(new Date("{{ dend|date:'Y-m-d' }}"))
  }, function (startDate, endDate) {
    update_daterangepicker(startDate, endDate);

    window.location.href = "{% url 'account_detail' account.pk '__dstart__' '__dend__' %}"
        .replace('__dstart__', startDate.format('YYYY-MM-DD'))
        .replace('__dend__', endDate.format('YYYY-MM-DD'));
  }
);

function update_daterangepicker(startDate, endDate) {
  $('#daterange-btn').html(startDate.format('ll') + ' - ' + endDate.format('ll'))
}

$.getJSON("{% url 'api_account_balance' account.id dstart dend %}", {}, function(res, status) {
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      options: {
          legend: {
            position: 'none'
          },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      },
      data: {
          labels: res.labels,
          datasets: [{
              label: 'Balance',
              fill: false,
              pointRadius: 2,
              borderColor: '#357ca5',
              backgroundColor: '#357ca5',
              data: res.data
          }]
      }
    });
  });
</script>
{% else %}
<script type="text/javascript">
  document.getElementById("balance-chart").innerHTML = "<b>{% trans 'Not enough data to show a chart' %}</b>";
</script>
{% endif %}
{% endblock %}
