{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content_header %}
<h1>Accounts
  <small>All accounts</small>
</h1>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Accounts</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">{% trans 'Accounts' %}</h3>
    <a class="btn btn-xs btn-primary pull-right" href="{% url 'account_new' %}">{% trans 'New' %}</a>
  </div>
  <div class="box-body no-padding">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Active</th>
      </tr>
      {% for account in accounts %}
      <tr>
        <td><a href="{% url 'account_view' account.account_id %}">{{ account.account__name }}</a></td>
        <td>{{ account.balance }}</td>
        <td>{% if account.account__active %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-close"></i>{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
