{% load staticfiles %}
{% load i18n %}
{% load account %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" sizes="192x192" href="{% static 'silverstrike/img/android-chrome-192x192.png' %}">
    <link rel="icon" sizes="512x412" href="{% static 'silverstrike/img/android-chrome-512x512.png' %}">
    <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="{% static 'silverstrike/img/favicon-32x32.png' %}" />
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="{% static 'silverstrike/img/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% url 'manifest' %}">
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'silverstrike/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/skin-blue-light.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    <title>SilverStrike</title>
  </head>
  <body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>AgS</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Silver</b>strike</span>
        </a>
        <nav class="navbar navbar-static-top">
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
          </a>

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'New' %}</a>
              <ul class="dropdown-menu">
                <li class="header">
                  <a href="{% url 'withdraw_new' %}">{% trans 'New Withdrawl' %}</a>
                </li>
                <li>
                  <a href="{% url 'deposit_new' %}">{% trans 'New Deposit' %}</a>
                </li>
                <li>
                  <a href="{% url 'transfer_new' %}">{% trans 'New Transfer' %}</a>
                </li>
                <li>
                  <a href="{% url 'split_create' %}">{% trans 'New Split Transaction' %}</a>
                </li>
              </ul>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span class="hidden-xs">{% user_display user %}
</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-header" id="navbar-user">
                    <p>
                    {% if request.user.first_name %}
                    {{ request.user.first_name }} {{ request.user.last_name }}
                    {% else %}
                    {% user_display user %}
                    {% endif %}
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{% url 'profile' %}" class="btn btn-default btn-flat">{% trans 'Profile' %}</a>
                    </div>
                    <div class="pull-right">
                      <a href="{% url 'account_logout' %}" class="btn btn-default btn-flat">{% trans 'Sign out' %}</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">{% trans 'MAIN NAVIGATION' %}</li>
            <li {% if menu == "home" %}class="active"{% endif %}>
              <a href="/">
                <i class="fa fa-home"></i> <span>{% trans 'Home' %}</span>
              </a>
            </li>
            <li{% if menu == "accounts" %} class="active"{% endif %}>
                <a href="{% url 'accounts' %}">
                  <i class="fa fa-bank fa-fw"></i>
                  <span>{% trans 'Accounts' %}</span>
                </a>
            </li>
            <li class="{% if menu == "transactions" %}active{% endif %}">
              <a href="{% url 'transactions' %}">
                <i class="fa fa-exchange fa-fw"></i>
                <span>{% trans 'Transactions' %}</span>
              </a>
            </li>
            <li{% if menu == "recurrences" %} class="active"{% endif %}>
              <a href="{% url 'recurrences' %}"><i class="fa fa-repeat"></i>
                <span>{% trans 'Recurrences' %}</span>
              </a>
            </li>
            <li{% if menu == "categories" %} class="active"{% endif%}>
              <a href="{% url 'categories' %}">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <span>{% trans 'Categories' %}</span>
              </a>
            </li>
            <li{% if menu == "budgets" %} class="active"{% endif%}>
              <a href="{% url 'budgets' %}">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span>{% trans 'Budgets' %}</span>
              </a>
            </li>
            <li{% if menu == "charts" %} class="active"{% endif %}>
              <a href="{% url 'charts' %}">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <span>{% trans 'Charts' %}</span>
              </a>
            <li class="treeview{% if menu == "settings" %} active{% endif %}">
              <a href="#">
                <i class="fa fa-file-o fa-fw"></i>
                <span>{% trans 'Import &amp; Export' %}</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{% url 'import' %}"><i class="fa fa-download fa-fw"></i>{% trans 'Import' %}</a>
                </li>
                <li>
                  <a href="{% url 'export' %}"><i class="fa fa-upload fa-fw"></i>{% trans 'Export' %}</a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          {% block content_header %}
          {% endblock %}
        </section>
        <section class="content">
          {% block content %}
          {% endblock %}
        </section>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          {% blocktrans with version="0.1.4" %}<b>Version</b> {{ version }}{% endblocktrans %}
        </div>
        <strong><a href="https://github.com/agstrike/silverstrike">SilverStrike</a></strong>
      </footer>
    </div>
    <script src="{% static 'silverstrike/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/js/adminlte.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    <script>
      $(document).ready(function () {
        $('.sidebar-menu').tree()
      })
    </script>
  </body>
</html>
