{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content_header %}
<h1>{% blocktrans with object_name=object.name %}Delete '{{ object_name }}' category{% endblocktrans %}</h1>
{% endblock %}

{% block content %}
<div class="col-md-offset-3 col-md-6">
<div class="box">
  <form method="post" class="form-horizontal">
    <div class="box-body">
      {% csrf_token %}
      <p>{% trans 'Are you sure you want to delete the category?' %}</p>
      <p>{% trans "All transactions linked to this category won't be deleted but will loose the entry for the category" %}</p>
      <div class="text-center">
        <a href="{{ object.get_absolute_url }}" class="btn btn-default">{% trans 'Cancel' %}</a>
        <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
      </div>
    </div>
  </form>

</div>
</div>
{% endblock %}
