{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}

{% block content_header %}
<h1>Categories</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li class="active">{% trans 'Categories' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-body">
    <div class="text-center">
      <a href="{% url 'categories_month' previous_month.year previous_month.month %}" class="btn btn-xs btn-default">{% trans 'Previous' %}</a>
      <span>{{ month|date:'F Y'}}</span>
      <a href="{% url 'categories_month' next_month.year next_month.month %}" class="btn btn-xs btn-default">{% trans 'Next' %}</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-push-8">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">{% trans 'Distribution by category' %}</h3>
    </div>
    <div class="box-body">
      <center><canvas id="myChart"></canvas></center>
    </div>
  </div>
  </div>
  <div class="col-md-8 col-md-pull-4">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">{% trans 'Categories' %}</h3>
  </div>
  <div class="box-body no-padding">
    <table class="table table-striped">
      <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Money spent' %}</th>
      </tr>
      {% for category in categories %}
      {% if category.0 %}
      <tr>
        <td>
          <a href="{% url 'category_detail' category.0 %}" >{{ category.1 }}</a>
        </td>
        <td>{{ category.2 }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>
  <div class="box-footer">
    <a class="btn btn-primary" href="{% url 'category_create' %}">{% trans 'Create' %}</a>
    <a class="btn btn-default" href="{% url 'category_assign' %}">{% trans 'Categorize expenses' %}</a>
  </div>
</div>
</div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
<script type="text/javascript">
  $('select').change(function() {
    $( "select option:selected" ).each(function() {
      window.location.href = "{{ request.path }}?page=" + $(this).val();
    });
  });
  var colors =
    ['#357ca5',
     '#008d4c',
     '#db8b0b',
     '#ca195a',
     '#555299',
     '#4285f4',
     '#db4437',
     '#f4b400',
     '#0f9d58',
     '#ab47bc',
     '#00acc1',
     '#ff7043',
     '#9e9d24',
     '#5c6bc0',
     '#f06292',
     '#00796b',
     '#c2185b'
  ];
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    options: {
      responsive: false,
      legend: {
        position: 'none'
      }
    },
    data: {
        labels: [
  {% for category in categories %}
  {% if category.0 %}
  "{{ category.1 }}",
  {% endif %}
  {% endfor %}
  ],
        datasets: [{
            backgroundColor: colors,
            data: [
      {% for category in categories %}
      {% if category.0 %}
      {{ category.2 }},
      {% endif %}
      {% endfor %}
    ]
        }]
    }
});
</script>
{% endblock %}
