{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content_header %}
<h1>Import</h1>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="#">Settings</a></li>
  <li class="active">Import</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Import</h3>
  </div>
  <form method="post" class="form-horizontal">
    <div class="box-body table-responsive">
      {% csrf_token %}
      <table class="table">
      {% if headers %}
      <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
      {% endif %}
      {% for datum in data %}
      <tr>
        {% for entry in datum %}
        <td>{{ entry }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    </div>
    <div class="box-footer">
      <div class="col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Import</button>
      </div>
    </div>
  </form>

</div>
{% endblock %}
