{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content_header %}
<h1>Import</h1>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="#">Settings</a></li>
  <li class="active">Import</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Import</h3>
  </div>
  <form method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="box-body">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for field in form %}
      <div class="form-group">
        {% if field|widget_type != "checkboxinput" %}
        <label class="control-label col-sm-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-sm-8">
          {% render_field field placeholder=field.label class="form-control" %}
        </div>
        {% else %}
        <div class="col-sm-offset-2 col-sm-8 ">
          <div class="checkbox">
            <label>
              {{ field }}
              {{ field.label }}
            </label>
          </div>
        </div>
        {% endif %}
        {% for error in  field.errors %}
        <span class="help-block">{{ errror }}</span>
            {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="box-footer">
      <div class="col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </form>

</div>
{% endblock %}
