{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load tags %}

{% block content_header %}
<h1>Home
  <small>All imporant stuff</small>
</h1>
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-4 col-md-push-8">
<div class="box">
<div class="box-header with-boarder">
  <h3 class="box-title">Quick Overview</h3>
</div>
<div class="box-content">
  <table class="table">
    <tr>
      <th>Income</th><td>{{ income }}</td>
    </tr>
    <tr>
      <th>Expenses</th><td class="text-red">{{ expenses }}</td>
    </tr>
    <tr>
      <th>Difference</th><td{% if difference < 0 %} class="text-red"{% endif %}>{{ difference }}</td>
    </tr>
    <tr>
    <th>Total Balance</th><th class="text-{% if balance < 0 %}red{% else %}green{% endif %}">{{ balance }}</th>
    </tr>
    {% if outstanding %}
    <tr>
      <th>{% trans 'Outstanding' %}</th><td>{{ outstanding }}</td>
    </tr>
    <tr>
    <th>Expected end of month</th><th class="text-{% if expected_balance < 0 %}red{% else %}green{% endif %}">{{ expected_balance }}</th>
    </tr>
    {% endif %}
  </table>
</div>
</div>
<div class="box">
<div class="box-header with-boarder">
  <h3 class="box-title">Previous Month</h3>
</div>
<div class="box-content">
  <table class="table">
    <tr>
      <th>Income</th><td>{{ previous_income }}</td>
    </tr>
    <tr>
      <th>Expenses</th><td class="text-red">{{ previous_expenses }}</td>
    </tr>
    <tr>
      <th>Difference</th><td{% if previous_difference < 0 %} class="text-red"{% endif %}>{{ previous_difference }}</td>
    </tr>
  </table>
</div>
</div>
<div class="box">
  <div class="box-header">
    <h3 class="box-title"><a href="{% url 'accounts' %}">Accounts</a></h3>
  </div>
  <div class="box-body">
  <table class="table">
  <tr>
  <th>Account</th>
  <th>Balance</th>
  </tr>
  {% for account in accounts %}
  <tr>
    <td><a href="{{ account.get_absolute_url }}">{{ account.name }}</a></td>
    <td{% if account.balance < 0 %} class="text-red"{% endif %}>{{ account.balance }}</td>
  </tr>
  {% endfor %}
  </table>
  </div>
</div>
</div>
<div class="col-md-8 col-md-pull-4">
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Balance</h3>
  </div>
  <div class="box-body">
  <canvas id="myChart" width="450" height="250"></canvas>
</div>
</div>
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title"><a href="{% url 'recurrences' %}">{% trans 'Upcoming Transactions' %}</a></h3>
</div>
<div class="box-body">
{% if due_transactions %}
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Actions</th>
  </tr>
{% for transaction in due_transactions %}
<tr {% if transaction.is_due %}class="text-red"{% endif %}>
  <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.title }}</a></td>
  <td>{{ transaction.date }}</td>
  <td>{{ transaction.amount }}</td>
  <td class="btn-toolbar">
    <a class="btn btn-xs btn-primary" href="{% url 'recurrence_transaction_create' transaction.pk %}">Create Transaction</a>
  </td>
  </tr>
{% endfor %}
</table>
{% else %}
<p>
{% url 'recurrences' as recurrence_url %}
{% blocktrans %}
You haven't set up recurring transactions yet. You can do so <a href="{{ recurrence_url}}">here</a>.
{% endblocktrans %}
</p>
{% endif %}
</div>
</div>
</div>
</div>
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title"><a href="{% url 'transactions' %}">{% trans 'Recent Transactions' %}</a></h3>
</div>
<div class="box-body">
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th class="hidden-xs">Type</th>
    <th>Date</th>
    <th>Amount</th>
    <th class="hidden-xs">Account</th>
    <th class="hidden-xs">Opposing Account</th>
    <th class="hidden-xs">Category</th>
  </tr>
{% for transaction in transactions %}
<tr>
  <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.description }}</a></td>
  <td class="hidden-xs">{{ transaction.journal.get_transaction_type_str }}</td>
  <td>{{ transaction.date }}</td>
  <td class="text-{% if transaction.is_deposit %}green{% elif transaction.is_withdraw %}red{% endif %}">{% if transaction.is_transfer %}{{ transaction.amount|negate }}{% else %}{{ transaction.amount }}{% endif %}</td>
  <td class="hidden-xs"><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td>
  <td class="hidden-xs">{% if transaction.is_system %}None{% else %}<a href="{{ transaction.opposing_account.get_absolute_url }}">{{ transaction.opposing_account }}</a>{% endif %}</td>
  <td class="hidden-xs">{{ transaction.category }}</td>
  </tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
<script type="text/javascript">
var drawChart = function(res) {
  var ctx = document.getElementById("myChart").getContext('2d');
  data = {
      labels: res.labels,
      datasets: []
  }
  dataset = {
    label: 'Balance',
    fill: false,
    pointRadius: 2,
    backgroundColor: '#357ca5',
    borderColor: '#357ca5',
    data: res.data,
  }
  data.datasets.push(dataset);
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          tooltips: {
              mode: 'index',
              position: 'nearest',
              intersect: false,
              caretSize: 0,
              caretPadding: 5,
          },
          legend: {
            position: 'none',
          }

      }
  });
}
$.getJSON("{% url 'api_balance' past today %}", {}, function(res, status) {
  drawChart(res);
});
</script>
{% endblock %}
