{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content_header %}
<h1>Transactions
  <small>
  {% if object %}
  Edit {{ object.title }}
  {% else %}
  Add new {{ submenu }}
  {% endif %}
  </small>
</h1>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
  <h3 class="box-title">{% trans 'Transaction Details' %}</h3>
</div>
<div class="box-body">
    <form method="post" class="form-horizontal">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}
          </label>
          <div class="col-sm-8">
          {{ field|add_class:"form-control" }}
          {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
        </div>
      {% endfor %}
      <br>
      {{ formset.management_form }}
      <table class="table col-md">
      {% for split in formset %}
        {% if forloop.first %}
        <tr>
          {% for field in split.visible_fields %}
          <th>{{ field.label }}</th>
          {% endfor %}
        </tr>
        {% endif %}
        <tr>
        {% for field in split.visible_fields %}
        {% if field|widget_type == 'checkboxinput' %}
        <td class="text-center">
        {{ field }}
        </td>
        {% else %}
        <td class="form-group{% if field.errors %} has-error{% endif %}">
          {{ field|add_class:"form-control" }}
        </td>
        {% endif %}
        {% endfor %}
        {% for field in split.hidden_fields %}
        {{ field }}
        {% endfor %}
        </tr>
        {% if split.errors %}
        <tr>
          {% for error in split.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </tr>
        {% endif %}
      {% endfor %}
      </table>
      <button type="submit" class="btn btn-primary col-md-offset-2">{% if object %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
    </form>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-datepicker.min.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap3-typeahead.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
$(function() {
  $('select').select2({tags: true});
  $('#id_date').datepicker({
  autoclose: true,
  format: 'yyyy-mm-dd',
  endDate: '0d',
  orientation: 'bottom',
  })
  $('#id_date').attr('autocomplete', 'off');
})
</script>
{% endblock %}