{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load tags %}
{% load humanize %}

{% block content_header %}
<h1>{{ recurrence.title }}</h1>
<ol class="breadcrumb">
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="{% url 'recurrences' %}">{% trans 'Recurrences' %}</a></li>
<li class="active">{{ recurrence }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Recurrence Details' %}</h3>
</div>
<div class="box-body">
<table class="table">
  <tr><th>{% trans 'Transaction Type' %}</th><td>{{ recurrence.get_transaction_type_str }}</td></tr>
  <tr>
    <th>{% trans 'Date' %}</th><td>{{ recurrence.date }}</td>
  </tr>
  <tr>
    <th>{% trans 'Total amount' %}</th><td{% if recurrence.is_withdraw %} class="text-red"{% elif recurrence.is_deposit %} class="text-green"{% endif %}>{{ recurrence.amount|intcomma }}</td>
  </tr>
  {% if recurrence.notes %}
  <tr><th>{% trans 'Notes' %}</th><td>{{ recurrence.notes }}</td></tr>
  {% endif %}
  <tr>
    <th>{% trans 'Interval' %}</th><td>{{ recurrence.get_recurrence }}</td>
  </tr>
  <tr>
    <th>{% trans 'Multiplier' %}</th><td>{{ recurrence.multiplier }}</td>
  </tr>
</table>
</div>
<div class="box-footer">
  <div class="btn-bar">
    {% if recurrence.is_split and not recurrence.is_system %}
    <a class="btn btn-success" href="{% url 'recurrence_split_create' recurrence.pk %}">{% trans 'Create Transaction' %}</a>
    {% endif %}
    {% if not recurrence.is_split and not recurrence.is_system %}
    <a class="btn btn-success" href="{% url 'recurrence_transaction_create' recurrence.pk %}">{% trans 'Create Transaction' %}</a>
    <a href="{% url 'recurrence_update' recurrence.id %}" class="btn btn-default">{% trans 'Edit' %}</a>
    {% endif %}
    {% if not recurrence.is_system %}
    <a href="{% url 'recurring_split_update' recurrence.id %}" class="btn btn-default">{% trans 'Edit as Split transaction' %}</a>
    {% endif %}
    <a href="{% url 'recurrence_delete' recurrence.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
  </div>
</div>
</div>
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Splits' %}</h3>
</div>
<div class="box-body table-responsive">
<table class="table">
  <tr>
  <th>{% trans 'Title' %}</th>
  <th>{% trans 'Account' %}</th>
  <th>{% trans 'Opposing Account' %}</th>
  <th>{% trans 'Amount' %}</th>
  <th>{% trans 'Date' %}</th>
  <th>{% trans 'Category' %}</th>
  </tr>
  {% for split in recurrence.splits.transfers_once %}
  <tr>
    <td>{{ split.title }}</td>
    <td><a href="{{ split.account.get_absolute_url }}">{{ split.account }}</a></td>
    <td><a href="{{ split.opposing_account.get_absolute_url }}">{{ split.opposing_account }}</a></td>
    <td{% if split.is_withdraw %} class="text-red"{% elif split.is_deposit %} class="text-green"{% endif %}>
      {% if split.is_transfer %}{{ split.amount|negate|intcomma }}{% else %}{{ split.amount|intcomma }}{% endif %}
    </td>
    <td>{{ split.date }}</td>
    <td>{% if split.category %}<a href="{{ split.category.get_absolute_url }}">{{ split.category }}</a>{% endif %}</td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Recent ocurrences' %}</h3>
</div>
<div class="box-body">
<table class="table">
  <tr>
  <th>{% trans 'Title' %}</th>
  <th>{% trans 'Amount' %}</th>
  <th>{% trans 'Date' %}</th>
  </tr>
  {% for transaction in recurrence.recurrences.last_10 %}
  <tr>
    <td><a href="{{ transaction.get_absolute_url}} ">{{ transaction.title }}</a></td>
    <td>{{ transaction.amount }}</td>
    <td>{{ transaction.date }}</td>
  </tr>
  {% endfor %}
</table>
</div>
<div class="box-footer">
  <a class="btn btn-primary" href="{% url 'transactions' %}?recurrence={{ recurrence.pk }}">{% trans 'Show all' %}</a>
</div>
</div>
</div>
{% endblock %}
