{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load tags %}
{% load humanize %}

{% block content_header %}
<h1>{% trans 'Recurrences' %}</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li class="active">{% trans 'Recurrences' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="small-box bg-green">
      <div class="inner">
        <h4>{% trans 'Income this month' %}</h4>
        <h3>{{ income|intcomma }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-red">
      <div class="inner">
        <h4>{% trans 'Expenses this month' %}</h4>
        <h3>{{ expenses|intcomma }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-blue">
      <div class="inner">
        <h4>{% trans 'Total change this month' %}</h4>
        <h3>{{ total|intcomma }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h4>{% trans 'Remaining change this month' %}</h4>
        <h3>{{ remaining|intcomma }}</h3>
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">{% trans 'Recurrence list' %}</h3>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th>{% trans 'Title' %}</th>
        <th class="hidden-xs">{% trans 'Type' %}</th>
        <th>{% trans 'Next Date' %}</th>
        <th>{% trans 'Amount' %}</th>
        <th class="hidden-xs">{% trans 'Account' %}</th>
        <th class="hidden-xs">{% trans 'Opposing Account' %}</th>
        <th class="hidden-xs">{% trans 'Interval' %}</th>
        <th class="hidden-xs">{% trans 'Multiplier' %}</th>
      </tr>
      {% for recurrence in recurrences %}
      <tr>
        <td><a href="{{ recurrence.transaction.get_absolute_url }}">{{ recurrence.transaction.title }}</a></td>
        <td class="hidden-xs">{{ recurrence.transaction.get_transaction_type_str }}</td>
        <td class="hidden-xs">{{ recurrence.date }}</td>
        <td class="text-{% if recurrence.is_deposit %}green{% elif recurrence.is_withdraw %}red{% endif %}">
          {% if recurrence.is_transfer %}{{ recurrence.transaction.amount|negate|intcomma }}{% else %}{{ recurrence.transaction.amount|intcomma }}{% endif %}
        </td>
        <td class="hidden-xs"><a href="{{ recurrence.account.get_absolute_url }}">{{ recurrence.account }}</a></td>
        <td class="hidden-xs">{% if not recurrence.is_system %}<a href="{{ recurrence.opposing_account.get_absolute_url }}">{{ recurrence.opposing_account }}</a>{% endif %}</td>
        <td class="hidden-xs">{{ recurrence.transaction.get_recurrence }}</td>
        <td class="hidden-xs">{{ recurrence.transaction.multiplier }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="box-footer text-center">
    {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li><a href="{{ request.path }}?page={{ page_obj.previous_page_number}}"><i class="force-parent-lh fa fa-chevron-left"
            aria-hidden="true"></i>
        </a>
        {% endif %}
      </li>
      <li>
        <select class="form-control">
          {% for _ in ''|center:page_obj.paginator.num_pages %}
          {% if forloop.counter == page_obj.number %}
          <option selected="">
            {{ page_obj.number }}
          </option>
          {% else %}
          <option>
            {{ forloop.counter }}
          </option>
          {% endif %}
          {% endfor %}
        </select>
      </li>
      {% if page_obj.has_next %}
      <li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="force-parent-lh fa fa-chevron-right"
            aria-hidden="true"></i>
        </a></li>
      {% endif %}
    </ul>

    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('select').change(function () {
    $("select option:selected").each(function () {
      window.location.href = "{{ request.path }}?page=" + $(this).val();
    });
  })
</script>
{% endblock %}
