{% extends 'silverstrike/base.html' %}
{% load i18n %}

{% block stylesheets %}
{% endblock %}


{% block content_header %}
<h1>{% trans 'Recurring Transactions' %}
</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li class="active">{% trans 'Recurrences' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="small-box bg-green">
      <div class="inner">
        <h4>{% trans 'Income this month' %}</h4>
        <h3>{{ income }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-red">
      <div class="inner">
        <h4>{% trans 'Expenses this month' %}</h4>
        <h3>{{ expenses }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="small-box bg-blue">
      <div class="inner">
        <h4>{% trans 'Total change this month' %}</h4>
        <h3>{{ total }}</h3>
      </div>
    </div>
  </div>
<div class="col-md-3">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h4>{% trans 'Remaining change this month' %}</h4>
        <h3>{{ remaining }}</h3>
      </div>
    </div>
  </div>
</div>
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">{% trans 'Recurrences' %}</h3>
</div>
<div class="box-body">
<table class="table table-striped">
  <tr>
    <th>{% trans 'Title' %}</th>
    <th>{% trans 'Date' %}</th>
    <th>{% trans 'Amount' %}</th>
    <th class="hidden-xs">{% trans 'Source Account' %}</th>
    <th class="hidden-xs">{% trans 'Destination Account' %}</th>
    <th class="hidden-xs">{% trans 'Recurrance' %}</th>
  </tr>
{% for transaction in transactions %}
<tr>
  <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.title }}</a></td>
  <td{% if transaction.is_due %} class="text-red"{% endif %}>{{ transaction.date }}</td>
  <td{% if transaction.is_deposit %} class="text-green"{% elif transaction.is_withdraw %} class="text-red" {% endif %}>{{ transaction.signed_amount }}</td>
  <td class="hidden-xs"><a href="{{ transaction.src.get_absolute_url }}">{{ transaction.src }}</a></td>
  <td class="hidden-xs"><a href="{{ transaction.dst.get_absolute_url }}">{{ transaction.dst }}</a></td>
  <td class="hidden-xs">{{ transaction.get_recurrence }}</td>
{% endfor %}
</table>
</div>
<div class="box-footer">
  <a href="{% url 'recurrence_create' %}" class="btn btn-primary">{% trans 'Create' %}</a>
  <a href="{% url 'disabled_recurrences' %}" class="btn btn-default">{% trans 'Show disabled recurrences' %}</a>
</div>
</div>
{% endblock %}
