{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content_header %}
<h1>
  {% if object %}
  {% blocktrans with object_name=object.title %}Edit {{ object_namee }}{% endblocktrans %}
  {% else %}
  {% trans 'New Recurring Transaction' %}
  {% endif %}
</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'recurrences' %}">{% trans 'Recurrences' %}</a></li>
  <li class="active">{% if object %}{{ object.title|title }}{% else %}{% trans 'New' %}{% endif %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
  <h3 class="box-title">{% trans 'Transaction Details' %}</h3>
</div>
<div class="box-body">
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">
  {{ error }}
  </div>
  {% endfor %}
    <form method="post" class="form-horizontal">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}
          </label>
          <div class="col-sm-8">
          {{ field|add_class:"form-control" }}
          {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary col-md-offset-2">{% if object %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
    </form>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/js/bootstrap-datepicker.min.js' %}"></script>
<script>
$(function() {
  $('#id_date').datepicker({
    autoclose: true,
    format: 'yyyy-mm-dd',
    startDate: '0d',
    orientation: 'bottom'
  });
  $('#id_date').attr('autocomplete', 'off');
})
</script>
{% endblock %}