{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content_header %}
<h1>{{ recurrence.title|title }}</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'recurrences' %}">{% trans 'Recurrences' %}</a></li>
  <li class="active">{{ recurrence.title|title }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-9">
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Recurrence Details' %}</h3>
</div>
<div class="box-body">
<table class="table">
  <tr><th>{% trans 'Recurrence' %}</th><td>{{ recurrence.get_recurrence }}</td></tr>
  <tr>
    <th>{% trans 'Next expected ocurrence' %}</th><td>{{ recurrence.date }}</td>
  </tr>
  <tr>
    <th>{% trans 'Source' %}</th><td><a href="{{ recurrence.src.get_absolute_url }}">{{ recurrence.src }}</a></td>
  </tr>
  <tr>
    <th>{% trans 'Destination' %}</th><td><a href="{{ recurrence.dst.get_absolute_url }}">{{ recurrence.dst }}</a></td>
  </tr>
  <tr>
    <th>{% trans 'Amount' %}</th><td{% if recurrence.is_deposit %} class="text-green"{% elif recurrence.is_withdraw %} class="text-red"{% endif %}>{{ recurrence.amount }}</td>
  </tr>
  <tr>
    <th>{% trans 'Average amount' %}</th><td>{{ recurrence.average_amount }}</td>
  </tr>
  {% if recurrence.category %}
  <tr><th>{% trans 'Category' %}</th><td>
    <a href="{{ recurrence.category.get_absolute_url }}">{{ recurrence.category }}</a>
  </td></tr>
  {% endif %}
  {% if recurrence.notes %}
  <tr><th>{% trans 'Notes' %}</th><td>{{ recurrence.notes }}</td></tr>
  {% endif %}
</table>
</div>
<div class="box-footer">
  <div class="btn-bar">
    <a class="btn btn-success" href="{% url 'recurrence_transaction_create' recurrence.pk %}">{% trans 'Create Transaction' %}</a>
    <a class="btn btn-default" href="{% url 'recurrence_update' recurrence.pk %}">{% trans 'Edit' %}</a>
    <a class="btn btn-danger" href="{% url 'recurrence_delete' recurrence.pk %}">{% trans 'Delete' %}</a>
  </div>
</div>
</div>
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Recent ocurrences' %}</h3>
</div>
<div class="box-body">
<table class="table">
  <tr>
  <th>{% trans 'Title' %}</th>
  <th>{% trans 'Amount' %}</th>
  <th>{% trans 'Date' %}</th>
  </tr>
  {% for transaction in recurrence.recurrences.last_10 %}
  <tr>
    <td><a href="{{ transaction.get_absolute_url}} ">{{ transaction.title }}</a></td>
    <td>{{ transaction.amount }}</td>
    <td>{{ transaction.date }}</td>
  </tr>
  {% endfor %}
</table>
</div>
<div class="box-footer">
  <a class="btn btn-primary" href="{% url 'transactions' %}?recurrence={{ recurrence.pk }}">{% trans 'Show all' %}</a>
</div>
</div>
</div>
</div>
{% endblock %}