{% extends 'silverstrike/base.html' %}
{% load i18n %}

{% block stylesheets %}
{% endblock %}


{% block content_header %}
<h1>Recurring Transactions
</h1>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Recurrences</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">{% trans 'Recurrences' %}</h3>
    <a href="{% url 'recurrence_create' %}" class="btn btn-primary btn-xs pull-right">{% trans 'Create' %}</a>
</div>
<div class="box-body">
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Amount</th>
    <th class="hidden-xs">Source Account</th>
    <th class="hidden-xs">Destination Account</th>
    <th class="hidden-xs">Recurrance</th>
  </tr>
{% for transaction in transactions %}
<tr{% if transaction.is_due %} class="text-red"{% endif %}>
  <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.title }}</a></td>
  <td>{{ transaction.date }}</td>
  <td{% if transaction.is_deposit %} class="text-green"{% elif transaction.is_withdraw %} class="text-red" {% endif %}>{{ transaction.signed_amount }}</td>
  <td class="hidden-xs">{{ transaction.src }}</td>
  <td class="hidden-xs">{{ transaction.dst }}</td>
  <td class="hidden-xs">{{ transaction.get_recurrence }}</td>
{% endfor %}
</table>
</div>
<div class="box-footer text-center">
{% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
<li><a href="{{ request.path }}?page={{ page_obj.previous_page_number}}"><i class="force-parent-lh fa fa-chevron-left" aria-hidden="true"></i>
</a>
{% endif %}
</li>
<li>
  <select class="form-control">
            {% for _ in ''|center:page_obj.paginator.num_pages %}
            {% if forloop.counter == page_obj.number %}
            <option selected="">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </option>
            {% else %}
            <option>
            {{ forloop.counter }}
            </option>
            {% endif %}
            {% endfor %}
        </select>
</li>
{% if page_obj.has_next %}
<li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="force-parent-lh fa fa-chevron-right" aria-hidden="true"></i>
</a></li>
{% endif %}
</ul>

{% endif %}
</div>
</div>
{% endblock %}
