{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content_header %}
<h1>{{ recurrence.title|title }}</h1>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Recurrences</li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8">
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Recurrence Details' %}</h3>
</div>
<div class="box-body">
<table class="table">
  <tr><th>{% trans 'Recurrence' %}</th><td>{{ recurrence.get_recurrence }}</td></tr>
  <tr>
    <th>Next expected ocurrence</th><td>{{ recurrence.date }}</td>
  </tr>
  <tr><th>{% trans 'Notes' %}</th><td>{{ journal.notes }}</td></tr>
  {% if journal.recurrence %}
  <tr><th>{% trans 'Recurrence' %}</th><td>{{ journal.recurrence }}</td></tr>
  {% endif %}
</table>
</div>
</div>
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Recent ocurrences' %}</h3>
</div>
<div class="box-body">
<table class="table">
  <tr>
  <th>Title</th>
  <th>Amount</th>
  <th>Date</th>
  </tr>
  {% for journal in recurrence.recurrences.all %}
  <tr>
    <td>{{ journal.title }}</td>
    <td>{{ journal.amount }}</td>
    <td>{{ journal.date }}</td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
</div>
<div class="col-md-4">
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Actions' %}</h3>
</div>
<div class="box-body">
  <form method="post" action="{% url 'recurrence_skip' recurrence.pk %}?next={{ request.path }}">
  {% csrf_token %}
    <a class="btn btn-success" href="{% url 'recurrence_transaction_create' recurrence.pk %}">Create Transaction</a>
    <br>
    <input type="submit" class="btn btn-warning" value="{% trans 'Skip this iteration' %}">
    <br>
    <a class="btn btn-default" href="{% url 'recurrence_update' recurrence.pk %}">{% trans 'Edit' %}</a>
    <br>
    <a class="btn btn-danger" href="{% url 'recurrence_delete' recurrence.pk %}">{% trans 'Delete' %}</a>
    <br>
    </form>
</div>
</div>
</div>
</div>
{% endblock %}