{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content_header %}
<h1>Transactions
  <small>
  {% if object %}
  Edit {{ object.title }}
  {% else %}
  Add new {{ submenu }}
  {% endif %}
  </small>
</h1>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
  <h3 class="box-title">{% trans 'Transaction Details' %}</h3>
</div>
<div class="box-body">
    <form method="post" class="form-horizontal">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}
          </label>
          <div class="col-sm-8">
          {{ field|add_class:"form-control" }}
          {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary col-md-offset-2">{% if object %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
    </form>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap3-typeahead.min.js' %}"></script>

<script>
$(function() {
  $('#id_date').datepicker({
  autoclose: true,
  format: 'yyyy-mm-dd',
  endDate: '0d',
  orientation: 'bottom',

  })
  if ($('input#id_source_account').length > 0) {
      $.getJSON('{% url 'api_accounts' 'FOREIGN' %}').done(function (data) {
          $('#id_source_account').typeahead({source: data});
      });
  }
  if ($('input#id_destination_account').length > 0) {
      $.getJSON('{% url 'api_accounts' 'FOREIGN' %}').done(function (data) {
          $('#id_destination_account').typeahead({source: data});
      });
  }
  $('#id_date').attr('autocomplete', 'off');
})
</script>
{% endblock %}