{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load tags %}

{% block content_header %}
<h1>{{ transaction.title }}</h1>
<ol class="breadcrumb">
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="{% url 'transactions' %}">{% trans 'Transactions' %}</a></li>
<li class="active">{{ transaction }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Transaction Details' %}</h3>
</div>
<div class="box-body">
<table class="table">
  <tr><th>{% trans 'Transaction Type' %}</th><td>{{ transaction.get_transaction_type_str }}</td></tr>
  <tr>
    <th>{% trans 'Date' %}</th><td>{{ transaction.date }}</td>
  </tr>
  <tr>
    <th>{% trans 'Total amount' %}</th><td{% if transaction.is_withdraw %} class="text-red"{% elif transaction.is_deposit %} class="text-green"{% endif %}>{{ transaction.amount }}</td>
  </tr>
  {% if transaction.notes %}
  <tr><th>{% trans 'Notes' %}</th><td>{{ transaction.notes }}</td></tr>
  {% endif %}
  {% if transaction.recurrence %}
  <tr><th>{% trans 'Recurrence' %}</th><td><a href="{{ transaction.recurrence.get_absolute_url }}">{{ transaction.recurrence }}</a></td></tr>
  {% endif %}
</table>
</div>
<div class="box-footer">
  {% if not transaction.is_split and not transaction.is_system %}
  <a href="{% url 'transaction_update' transaction.id %}" class="btn btn-warning">{% trans 'Edit' %}</a>
  {% endif %}
  {% if not transaction.is_system %}
  <a href="{% url 'split_update' transaction.id %}" class="btn btn-default">{% trans 'Edit as Split transaction' %}</a>
  {% endif %}
  <a href="{% url 'transaction_delete' transaction.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
</div>
</div>
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Splits' %}</h3>
</div>
<div class="box-body table-responsive">
<table class="table">
  <tr>
  <th>{% trans 'Title' %}</th>
  <th>{% trans 'Account' %}</th>
  <th>{% trans 'Opposing Account' %}</th>
  <th>{% trans 'Amount' %}</th>
  <th>{% trans 'Date' %}</th>
  <th>{% trans 'Category' %}</th>
  </tr>
  {% for split in transaction.splits.transfers_once %}
  <tr>
    <td>{{ split.title }}</td>
    <td><a href="{{ split.account.get_absolute_url }}">{{ split.account }}</a></td>
    <td><a href="{{ split.opposing_account.get_absolute_url }}">{{ split.opposing_account }}</a></td>
    <td{% if split.is_withdraw %} class="text-red"{% elif split.is_deposit %} class="text-green"{% endif %}>
      {% if split.is_transfer %}{{ split.amount|negate }}{% else %}{{ split.amount }}{% endif %}
    </td>
    <td>{{ split.date }}</td>
    <td>{% if split.category %}<a href="{{ split.category.get_absolute_url }}">{{ split.category }}</a>{% endif %}</td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
{% endblock %}