{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content_header %}
<h1>{{ transaction.title }}</h1>
<ol class="breadcrumb">
<li><a href="/">Home</a></li>
<li><a href="{% url 'transactions' %}">Transactions</a></li>
<li class="active">{{ transaction }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Transaction Details' %}</h3>
</div>
<div class="box-body">
<table class="table">
  <tr><th>{% trans 'Transaction Type' %}</th><td>{{ transaction.get_transaction_type_str }}</td></tr>
  <tr>
    <th>Date</th><td>{{ transaction.date }}</td>
  </tr>
  <tr><th>{% trans 'Notes' %}</th><td>{{ transaction.notes }}</td></tr>
  {% if transaction.recurrence %}
  <tr><th>{% trans 'Recurrence' %}</th><td><a href="{{ transaction.recurrence.get_absolute_url }}">{{ transaction.recurrence }}</a></td></tr>
  {% endif %}
</table>
</div>
<div class="box-footer">
  {% if not transaction.is_split and not transaction.is_system %}
  <a href="{% url 'transaction_update' transaction.id %}" class="btn btn-warning">{% trans 'Edit' %}</a>
  {% endif %}
  {% if not transaction.is_system %}
  <a href="{% url 'split_update' transaction.id %}" class="btn btn-default">{% trans 'Edit as Split transaction' %}</a>
  {% endif %}
  <a href="{% url 'transaction_delete' transaction.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
</div>
</div>
<div class="box">
  <div class="box-header">
  <h3 class="box-title">{% trans 'Splits' %}</h3>
</div>
<div class="box-body table-responsive">
<table class="table">
  <tr>
  <th>Title</th>
  <th>Account</th>
  <th>Opposing Account</th>
  <th>Amount</th>
  <th>Date</th>
  <th>Category</th>
  </tr>
  {% for split in transaction.splits.transfers_once %}
  <tr>
    <td>{{ split.title }}</td>
    <td><a href="{{ split.account.get_absolute_url }}">{{ split.account }}</a></td>
    <td><a href="{{ split.opposing_account.get_absolute_url }}">{{ split.opposing_account }}</a></td>
    <td>{{ split.amount }}</td>
    <td>{{ split.date }}</td>
    <td>{% if split.category %}<a href="{{ split.category.get_absolute_url }}">{{ split.category }}</a>{% else %}None{% endif %}</td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
{% endblock %}