{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load tags %}

{% block content_header %}
<h1>{% trans 'Transactions' %}</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li class="active">{% trans 'Transactions' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">{% trans 'Transaction list' %}</h3>
</div>
<div class="box-body">
<table class="table table-striped">
  <tr>
    <th>{% trans 'Title' %}</th>
    <th class="hidden-xs">{% trans 'Type' %}</th>
    <th>{% trans 'Date' %}</th>
    <th class="hidden-xs">{% trans 'Booking Date' %}</th>
    <th>{% trans 'Amount' %}</th>
    <th class="hidden-xs">{% trans 'Account' %}</th>
    <th class="hidden-xs">{% trans 'Opposing Account' %}</th>
    <th class="hidden-xs">{% trans 'Category' %}</th>
  </tr>
{% for transaction in transactions %}
<tr>
  <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.transaction.title }}</a></td>
  <td class="hidden-xs">{{ transaction.transaction.get_transaction_type_str }}</td>
  <td>{{ transaction.transaction.date }}</td>
  <td class="hidden-xs">{{ transaction.date }}</td>
  <td class="text-{% if transaction.is_deposit %}green{% elif transaction.is_withdraw %}red{% endif %}">
    {% if transaction.is_transfer %}{{ transaction.amount|negate }}{% else %}{{ transaction.amount }}{% endif %}
  </td>
  <td class="hidden-xs"><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td>
  <td class="hidden-xs">{% if not transaction.is_system %}<a href="{{ transaction.opposing_account.get_absolute_url }}">{{ transaction.opposing_account }}</a>{% endif %}</td>
  <td class="hidden-xs">
    {% if transaction.category %}
    <a href="{{ transaction.category.get_absolute_url }}">{{ transaction.category }}</a></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
</div>
<div class="box-footer text-center">
{% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
<li><a href="{{ request.path }}?page={{ page_obj.previous_page_number}}"><i class="force-parent-lh fa fa-chevron-left" aria-hidden="true"></i>
</a>
{% endif %}
</li>
<li>
  <select class="form-control">
    {% for _ in ''|center:page_obj.paginator.num_pages %}
    {% if forloop.counter == page_obj.number %}
    <option selected="">
      {{ page_obj.number }}
    </option>
    {% else %}
    <option>
      {{ forloop.counter }}
    </option>
    {% endif %}
    {% endfor %}
  </select>
</li>
{% if page_obj.has_next %}
<li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="force-parent-lh fa fa-chevron-right" aria-hidden="true"></i>
</a></li>
{% endif %}
</ul>

{% endif %}
</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('select').change(function() {
    $( "select option:selected" ).each(function() {
      window.location.href = "{{ request.path }}?page=" + $(this).val();
    });
  })
</script>
{% endblock %}
