{% extends 'pyaccountant/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load tags %}

{% block content_header %}
<h1>Home
  <small>All imporant stuff</small>
</h1>
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-4 col-md-push-8">
<div class="box">
<div class="box-header with-boarder">
  <h3 class="box-title">Important data</h3>
</div>
<div class="box-content">
  {% include 'pyaccountant/account_info.html.j2' %}
</div>
</div>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Accounts</h3>
  </div>
  <div class="box-body">
  <table class="table">
  <tr>
  <th>Account</th>
  <th>Balance</th>
  </tr>
  {% for account in accounts %}
  <tr>
    <td><a href="{{ account.get_absolute_url }}">{{ account.name }}</a></td>
    <td{% if account.balance < 0 %} class="text-red"{% endif %}>{{ account.balance }}</td>
  </tr>
  {% endfor %}
  </table>
  </div>
</div>
</div>
<div class="col-md-8 col-md-pull-4">
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Personal Accounts</h3>
  </div>
  <div class="box-body">
  <canvas id="myChart" width="450" height="250"></canvas>
</div>
</div>
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">{% trans 'Transactions due this month' %}</h3>
</div>
<div class="box-body">
{% if due_transactions %}
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Recurrance</th>
    <th>Actions</th>
  </tr>
{% for transaction in due_transactions %}
<tr {% if transaction.is_due %}class="text-red"{% endif %}>
  <td>{{ transaction.title }}</td>
  <td>{{ transaction.date }}</td>
  <td>{{ transaction.amount }}</td>
  <td>{{ transaction.get_recurrence }}</td>
  <td class="btn-toolbar">
    <a class="btn btn-xs btn-success" href="{% url 'recurrence_transaction_create' transaction.pk %}">Create Transaction</a>
    <a class="btn btn-xs btn-warning" href="{% url 'recurrence_skip' transaction.pk %}">{% trans 'Skip this iteration' %}</a>
  </td>
  </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans 'Nothing due anymore' %}</p>
{% endif %}
</div>
</div>
</div>
</div>
<div class="box">
<div class="box-header with-border">
  <h3 class="box-title">{% trans 'Recent Transactions' %}</h3>
</div>
<div class="box-body">
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Source Account</th>
    <th>Destination Account</th>
    <th>Category</th>
  </tr>
{% for transaction in transactions %}
<tr>
  <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.journal.title }}</a></td>
  <td>{{ transaction.journal.get_transaction_type_str }}</td>
  <td>{{ transaction.journal.date }}</td>
  <td class="text-{% if transaction.is_deposit %}green{% elif transaction.is_withdraw %}red{% endif %}">{% if transaction.is_transfer %}{{ transaction.amount|negate }}{% else %}{{ transaction.amount }}{% endif %}</td>
  <td><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td>
  <td><a href="{{ transaction.opposing_account.get_absolute_url }}">{{ transaction.opposing_account }}</a></td>
  <td>{{ transaction.journal.category }}</td>
  </tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
<script type="text/javascript">
var colors =
  ['#357ca5',
   '#008d4c',
   '#db8b0b',
   '#ca195a',
   '#555299',
   '#4285f4',
   '#db4437',
   '#f4b400',
   '#0f9d58',
   '#ab47bc',
   '#00acc1',
   '#ff7043',
   '#9e9d24',
   '#5c6bc0',
   '#f06292',
   '#00796b',
   '#c2185b'
];
var drawChart = function(res) {
  var ctx = document.getElementById("myChart").getContext('2d');
  data = {
      labels: res.labels,
      datasets: []
  }
  for (i = 0; i < res.dataset.length; i++) {
    dataset = {
      label: res.dataset[i].name,
      fill: false,
      pointRadius: 2,
      backgroundColor: colors[i],
      borderColor: colors[i],
      data: res.dataset[i].data,
    }
    data.datasets.push(dataset);
  }
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          tooltips: {
              mode: 'index',
              position: 'nearest',
              intersect: false,
              caretSize: 0,
              caretPadding: 5,
          },
          legend: {
            position: 'none',
          }

      }
  });
}
$.getJSON("{% url 'api_accounts_balance' '2017-05-01' '2017-08-01' %}", {}, function(res, status) {
  drawChart(res);
});
</script>
{% endblock %}
