{% extends 'pyaccountant/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content_header %}
<h1>Home
  <small>All imporant stuff</small>
</h1>
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-4 col-md-push-8">
<div class="box">
<div class="box-header with-boarder">
  <h3 class="box-title">Important data</h3>
</div>
<div class="box-content">
  {% include 'pyaccountant/account_info.html.j2' %}
</div>
</div>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Accounts</h3>
  </div>
  <div class="box-body">
  <table class="table">
  <tr>
  <th>Account</th>
  <th>Balance</th>
  </tr>
  {% for account in accounts %}
  <tr>
    <td><a href="{{ account.get_absolute_url }}">{{ account.name }}</a></td>
    <td{% if account.balance < 0 %} class="text-red"{% endif %}>{{ account.balance }}</td>
  </tr>
  {% endfor %}
  </table>
  </div>
</div>
</div>
<div class="col-md-8 col-md-pull-4">
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Personal Accounts</h3>
  </div>
  <div class="box-body">
  <canvas id="myChart" width="450" height="250"></canvas>
</div>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
<script type="text/javascript">
var colors =
  ['#357ca5',
   '#008d4c',
   '#db8b0b',
   '#ca195a',
   '#555299',
   '#4285f4',
   '#db4437',
   '#f4b400',
   '#0f9d58',
   '#ab47bc',
   '#00acc1',
   '#ff7043',
   '#9e9d24',
   '#5c6bc0',
   '#f06292',
   '#00796b',
   '#c2185b'
];
var drawChart = function(res) {
  var ctx = document.getElementById("myChart").getContext('2d');
  data = {
      labels: res.labels,
      datasets: []
  }
  for (i = 0; i < res.dataset.length; i++) {
    dataset = {
      label: res.dataset[i].name,
      fill: false,
      pointRadius: 2,
      backgroundColor: colors[i],
      borderColor: colors[i],
      data: res.dataset[i].data,
    }
    data.datasets.push(dataset);
  }
  var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          tooltips: {
              mode: 'index',
              position: 'nearest',
              intersect: false,
              caretSize: 0,
              caretPadding: 5,
          },
          legend: {
            position: 'none',
          }

      }
  });
}
$.getJSON("{% url 'api_accounts_balance' '2017-05-01' '2017-08-01' %}", {}, function(res, status) {
  drawChart(res);
});
</script>
{% endblock %}
