{% extends 'pyaccountant/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content_header %}
<h1>{{ transaction.journal.title }}</h1>
<div class="breadcrumb">
<a href="{% url 'transaction_update' transaction.journal.id %}" class="btn btn-default btn-xs">{% trans 'Edit' %}</a>
<a href="{% url 'transaction_delete' transaction.journal.id %}" class="btn btn-default btn-xs">{% trans 'Delete' %}</a>
</div>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
  <h3 class="box-title">{% trans 'Transaction Details' %}</h3>
</div>
<div class="box-body">
<table class="table">
  <tr><th>{% trans 'Transaction Type' %}</th><td>{{ transaction.journal.get_transaction_type_str }}</td></tr>
  <tr>
    <th>Date</th><td>{{ transaction.journal.date }}</td>
  </tr>
  <tr><th>Source Account</th><td><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td></tr>
  <tr><th>Destination Account</th><td><a href="{{ transaction.opposing_account.get_absolute_url }}">{{ transaction.opposing_account }}</a></td></tr>
  <tr><th>Amount</th><td class="text-{% if transaction.is_withdraw %}red{% elif transaction.is_deposit %}green{% endif %}">{{ transaction.amount }}</td></tr>
  <tr><th>Category</th><td>{% if transaction.category %}<a href="{{ transaction.category.get_absolute_url }}">{{ transaction.category }}</a>{% else %}{% trans 'No category specified' %}{% endif %}</td></tr>
  <tr><th>{% trans 'Notes' %}</th><td>{{ transaction.journal.notes }}</td></tr>
</table>
</div>
</div>
{% endblock %}