{% extends 'silverstrike/base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block content_header %}<h1>{% trans "Change Password" %}</h1>{% endblock %}

{% block content %}
<div class="col-md-8">
    <div class="box">
    	<div class="box-header">
    	    <h3 class="box-title">{% trans 'Change Password' %}</h3>
    	</div>
		<form method="POST" class="form-horizontal">
    		<div class="box-body">
		        {% csrf_token %}
				{% for field in form %}
				<div class="form-group">
        			<label class="control-label col-sm-3" for="{{ field.id_for_label }}">{{ field.label }}</label>
        			<div class="col-sm-8">
          				{% render_field field placeholder=field.label class="form-control" %}
	          			{% for error in field.errors %}
						<p class="text-red">{{ error }}</p>
						{% endfor %}
          			</div>
				</div>
				{% endfor %}
			</div>
			<div class="box-footer">
			    <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
