{% extends "_plain.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block title %}SilverStrike | {% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <b>AgS</b> | {% trans "Password Reset" %}
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">

{% if user.is_authenticated %}<p>
    {% include "account/snippets/already_logged_in.html" %}
    </p>{% endif %}
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  {% for field in form %}
  <div class="form-group">
  {% render_field field class="form-control" %}
  </div>
  {% endfor %}
  <button class="btn btn-primary btn-block btn-flat" type="submit">{% trans 'Reset My Password' %}</button>
</form>
<br>
<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
  </div>
  <!-- /.login-box-body -->
</div>
{% endblock %}
